name: 02 - Workflow Events

on:
    push:
    pull_request:
    schedule:
      - cron: '*/5 * * * *' # look up syntax - every 5 mins
    workflow_dispatch: 
        

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
          - name: Show the trigger
            run: echo "I've been triggered by a(n) ${{github.event_name}} event."
